.standardTable {
  :global {
    .ant-table-pagination {
      margin-top: 24px;
    }
  }

  .tableAlert {
    margin-bottom: 16px;
  }
}

.pageHeader {
  :global {
    .ant-page-header-heading-extra > * + * {
      margin-left: 8px;
    }
  }
}

.headerList {
  margin-bottom: 4px;
  :global {
    .ant-descriptions-row > td {
      padding-bottom: 8px;
    }
  }
}

.card {
  margin-bottom: 24px;
}
