@import '~antd/es/style/themes/default.less';

.standardTable {
  :global {
    .ant-table-pagination {
      margin-top: 24px;
    }
  }

  .tableAlert {
    margin-bottom: 16px;
  }
}

.tableListOperator {
  margin-bottom: 16px;
  button {
    margin-right: 8px;
  }
}

.tree-transfer {
  :global {
    .ant-transfer-list {
      &:first-child {
        flex: none;
        width: 100%;
      }
    }
  }
}
